table tr td:first-child {
  border-left: 1px solid #f1f5f9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

table tr td:last-child {
  border-right: 1px solid #f1f5f9;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
